{{!-- {{> burgers/burger-image}} --}}

<h1> Eat yo self a burger!</h1>

<h2> Burgers to be ate!</h2>

<ul>
    {{#each burgers}}
        {{#unless eaten}}
            {{> burgers/burger-block eaten=true }}
        {{/unless}}
    {{/each}}
</ul>

<h2>You done ate these uns!</h2>

<ul>
    {{#each burgers}}
        {{#if eaten}}
            <li>
                <p>{{name}}
            </li>
        {{/if}}
    {{/each}}
</ul>

<h2>Name yo burger!</h2>
<form class="burger-maker-form">

  <div class="form-group">
    <button type="submit">Burger up!</button>
    <input type="text" id="burger" name="name">
  </div>

  {{!-- <div class="form-group">
    <label for="slee">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div> --}}

  
</form>