<h1> Eat yo self a burger!</h1>

<h2> Burgers to be ate!</h2>

<ul>
    {{#each burgers}}
        {{#unless eaten}}
            {{> burgers/burger-block eaten=false }}
        {{/unless}}
    {{/each}}
</ul>

<h2>You done ate these uns!</h2>

<ul>
    {{#each burgers}}
        {{#if eaten}}
            <li>
                <p>{{name}}
            </li>
        {{/if}}
    {{/each}}
</ul>
